{% extends 'base.html'%} 
{%block content %}
<div style="display: grid; row-gap: 50px; grid-template-columns: repeat(3, 1fr)">
 {%for i in meals %}
 <div class="card" style="width: 18rem;">
     <img class="card-img-top" src="{{i.strMealThumb}}" alt="Card image cap">
     <div class="card-body">
       <h5 class="card-title">{{i.strMeal}}</h5>
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
     </div>
   </div>
  {% endfor %}
</div>
{% endblock %}