<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ol>
        <li>{{letters | length}}</li>
        <li>{{num | add:"8"}}</li>
        <li>{{quotes | lower}}</li>
        <li>{{quotes | make_list}}</li>
        <li>{{name | center:"15"}}</li>
        <li>{{quotes | cut:" "}}</li>
        <li>{{status | default:"Goribs"}}</li>
        <li>{{quotes | slugify}}</li>
        <li></li>
        <li></li>
    </ol>
</body>
</html>